<div>
    <mat-form-field appearance="fill" class="select">
        <mat-label>Route</mat-label>
        <mat-select (selectionChange)="routeSelected($event)" [(ngModel)]="selectedRoute">
            <mat-option *ngFor="let route of routes" [value] = "route.Route" >
                {{route.Description}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="showDirections">
    <mat-form-field appearance="fill" class="select">
        <mat-label>Direction</mat-label>
        <mat-select (selectionChange)="directionSelected($event)" [(ngModel)]="selectedDirection">
            <mat-option *ngFor="let direction of directions" [value] = "direction.Value" >
                {{direction.Text}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="showStops">
    <div>Stops:</div>
    <ul>
        <li *ngFor="let stop of stops">
            {{stop.Text}}
        </li>
    </ul>
</div>