<div>
    <mat-form-field appearance="fill" class="select">
        <mat-label>Route</mat-label>
        <mat-select (selectionChange)="routeSelected($event)">
            <mat-option *ngFor="let route of routes" [value] = "route.Route" >
                {{route.Description}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" class="select">
        <mat-label>Direction</mat-label>
        <mat-select (selectionChange)="directionSelected($event)">
            <mat-option *ngFor="let direction of directions" [value] = "direction.Value" >
                {{direction.Text}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>